{% extends 'base.html.twig' %}

{% block title %}{% trans %}Booking calendar {% endtrans %}{% endblock %}

{% block body %}

   
    <h1 class="d-flex align-items-center justify-content-center my-5" >{% trans %}Available time slots {% endtrans %}</h1>
    {% if app.user %}
    <div class="container d-flex align-items-center justify-content-center my-5">
        <a class="btn btn-primary" href="{{ path('app_reservation_new', {'id' : salle.id }) }}">{% trans %}Book a date {% endtrans %}</a>
    </div>
    {% else %}
      <div class="container d-flex align-items-center justify-content-center gap-5 my-5">
        <p>{% trans %} In order to book a room, please{% endtrans %}<a class="btn mx-2  btn-primary" href="{{ path('app_login') }}">{% trans %}login {% endtrans %} </a> {% trans %}or {% endtrans %}<a class="btn mx-2 btn-primary" href="{{ path('app_register') }}">{% trans %}sign up {% endtrans %}</a></p>
        
        
    </div>
    {% endif %}
    <div id="calendar" class=" mx-auto my-5 p-3 bg-body"></div>

{% endblock %}
{% block javascripts %}
    <script>


  document.addEventListener('DOMContentLoaded', function() {
    var calendarElt = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarElt, {
      
     initialView: 'timeGridWeek',
     headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridDay',
            },
     locale: 'fr',
     timeZone: 'Europe/Paris',
     firstDay: 1,
     allDaySlot: false, // Désactive l'option all-day
     slotMinTime: "07:00", // Début des slots visibles
     slotMaxTime: "20:00", // Fin des slots visibles
     expandRows: true, // Assure que les rangées prennent toute la hauteur disponible
     businessHours: {
                    daysOfWeek: [1, 2, 3, 4, 5], // Jours de la semaine actifs
                    startTime: '8:00', // Début de la journée de travail
                    endTime: '19:00' // Fin de la journée de travail
            },
      events: {{ data|raw }},
       
    });

    calendar.render();
  });


    </script>
{% endblock %}
