{% extends 'base.html.twig' %}


{% block title %}{% trans %} New Reservation {% endtrans %}{% endblock %}

{% block body %}
    <h1 class="d-flex align-items-center justify-content-center my-5">{% trans %} Create a new reservation {% endtrans %}</h1>
    
   
    {{ include('reservation/_form.html.twig') }}

{% endblock %}
