{% extends "base.html.twig" %}

{% block title %}
	Catégorie :
	{{ category.name }}
{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme='dark' >
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Catégories</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor04">
			<ul class="navbar-nav me-auto">
				{% for c in cat %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('book_category', {'slug': c.slug}) }}">{{ c.name }}</a>
					</li>
				{% endfor %}
			</ul>
	
		</div>
	</div>
</nav>


	<h1>Catégorie :
		{{ category.name }}</h1>

	<div class="row">
		{% for b in category.books %}
			<div class="col-lg-4 col-md-4">
				{% include "components/_book_card.html.twig" %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
