{% extends 'base.html.twig' %}

{% block title %}Hello SalleController!{% endblock %}

{% block body %}
 <h1 class="d-flex align-items-center justify-content-center my-5">Les salles disponibles</h1>
    
<div class="container">
    <div class="row">
        {% for salle in salles %}

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title d-flex align-items-center justify-content-center m-3">Salle {{ salle.nom }}</h5>
                    <p class="card-text">Capacité d'accueil : {{ salle.capacite }} personnes</p>
                    <p class="card-text ">Equipements disponibles :</p>
                    {% for equipement in salle.equipement %}
                        <h6><span class="badge text-bg-secondary m-1">{{ equipement.nom }}</span></h6>
                    {% endfor %}
                    <br>
                    <div class="d-grid ">
                        <a href="{{ path('app_reservation', {'id': salle.id}) }}" class="btn  btn-primary">Voir les disponibilités<i class="fa fa-calendar mx-1" aria-hidden="true"></i></a>   
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
