<div class="container">
	<div class="row">
		<div class="col">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn btn-primary mt-3">Enregistrer mon avis</button>

			{{ form_end(form) }}

		</div>
	</div>
</div>
