{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations
{% endblock %}

{% block body %}
	<h1 class='text-center'>Modifier mes informations</h1>

	{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
