{% extends 'base.html.twig' %}

{% block title %}{% trans %}Change my information {% endtrans %}
{% endblock %}

{% block body %}
	<h1 class='text-center'>{% trans %}Change my information {% endtrans %}</h1>

	{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
